div{
    height: 200px;
    width: 200px;
    /* background-color: red; */
    animation-name: movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;

}

@keyframes movement{
    0%{background-color: blue; top: 0; left: 0;}
    25%{background-color: green; top: 0; left: 300px;}
    50%{background-color: yellow; top: 300px; left: 300;}
    75%{background-color: aqua; top: 300; left: 0;}
    100%{background-color: maroon; top: 0; left: 0;}
}